name: Python package

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: [3.8, 3.9, pypy-3.8]
        toxenv:
          - pre-commit
          - py38-2.2
          - pypy-3.8-2.2
          - py38-3.0
          - pypy-3.8-3.0
          - py38-3.1
          - pypy-3.8-3.1
          - py39-3.2
          - pypy-3.8-3.2
          - py38-main
          - py39-main
          - pypy-3.8-main
      fail-fast: false
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install coverage tox
    - name: Run tests
      run: tox -e ${{ matrix.toxenv }}
    - name: Upload coverage to Coveralls
      if: success()
      env:
        COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        pip install coveralls
        coveralls

  allow_failures:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        toxenv: [py38-main, py39-main, pypy-3.8-main]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install coverage tox
    - name: Run tests
      run: tox -e ${{ matrix.toxenv }}

